/* DEBUG */

.debug{
  background-color: rgba(0, 255, 0, 0.2);
  border: 1px solid black;
}

.h100{
  height: 100px;
}

.h200{
  height: 200px;
}

.h300{
  height: 300px;
}

.h500{
  height: 500px;
}

/* MAIN */

.banner{
  background-color: antiquewhite;
  height: 600px;
  color: white;
  background-size: cover;
  background-position: center;
}

.smv-card{
  width: 100%;
  border-radius: 20px;
}

.active{
  border: 3px solid #0071ed;
}

.smv-card img{
  width: 100%;
  border-radius: 20px;
  padding: 3px;
}

.smv-opacity{
  opacity: 0.5;
}

.active2{
  opacity: 1;
  border-bottom: 2px solid #0071ed;
}

.smv-gray-text{
  color: #707070;
}
