/* HEADER */

header{
  
}

/* /HEADER */

header{
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100px;
  background-color: white;
}

header .sony-banner{
 background-color: black;
 height: 30px;
}

header .sony-banner img{
  height: 50%;
  margin-right: 5px;
}

.smv-bg-white{
  background-color: white;

}

.smv-nav{
  height: calc(100% - 30px);
}

.smv-col-grow{
  flex-grow: 1;
}

.smv-nav-ps{
  width: 100%;
  background-color: white;
  top: 70px;
  left: 0;
}

.smv-nav-ps img{
  width: 100px;  
}

.lens{
  width: 40px;
}

.nav-item .fa-solid{
  color: #00439c;
}

.nav-item img{
 
}

.smv-d-none{
  display: none;
}

.nav-item a:focus-within .smv-d-none{
 display: inline-block;
 transform: rotate(180deg);
}

.nav-item a:focus-within .smv-chev{
  display: none;
}

/* MAIN */

.smv-translate:hover{
  transform: translateY(-5px);
}

.smv-opacity:hover{
  opacity: 1;
}

/* /MAIN */

/* BANNER */
.banner-1{
  margin-top: 100px;
  background-image: url(../img/jumbo-bg.png);
  
}

.banner img{
  width: 60%;
}

.banner-2{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.banner-small-1{
  background-color: #bdbcba;
}

.banner-small-2{
  background-color: #161c3c;
  color: white;
}
/* BANNER */

.smv-blue{
  color: #0071ed;
  text-transform: uppercase;
  font-weight: bold;
}

/* SECTION PS5 */



/* SECTION NUOVE USCITE */

.smv-dark{
  background-color: #1f1f1f;
  color: white;
}



/* FOOTER */

footer{
  background-color: #00439c;
  color: white;
}

footer p a{
  color: white;
  text-decoration: underline;
}

.logo-sony{
  width: 100px;
}

.language{
  width: 20px;
}

.logo-sie{
  width: 150px;
}

ul li{
  list-style: none;
}
/* /FOOTER */